* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, black, rgb(163, 20, 220));
    height: 100vh;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.fundo h1 {
    text-align: center;
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.747);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.botao {
    width: 50px;
    height: 50px;
    background-color: rgb(31, 31, 31);
    font-size: 25px;
    
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    margin: 3px;
    border-radius: 5px;
}

.botao:hover {
    background-color: black;
}

.numero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.zero {
    width: 106px; /* Ajusta a largura apenas para o botão zero */
}
#resultado{
    text-align: right;
    width: 207px;
    height:30px;
    background-color: white;
    margin: 5px;
    font-size: 25px;
    color: black;
    padding: 8px;
}